body {
    background-color: ghostwhite;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.registrationTable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputFields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 15px;
}

button {
    padding: 5px;
}
