body {
    background-color: ghostwhite;
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    background-image: url("/background.jpg");
    background-size: cover;
    color: white;
}

.welcome {
    position: relative;
    margin-top: 10vh;
    font-size: 48px;
}

.registrationTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 50vh;
}

.inputFields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 15px;
}

button {
    padding: 5px;
    background-color: lightgray;
}
.error {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

img {
    height: 150px;
}

.uploaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.8;
}

.uploader {
    position: absolute;
    top: 20vh;
    left: 25vw;
    height: 60vh;
    width: 50%;
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploader img {
    position: absolute;
    height: 70%;
    max-width: 95%;
    bottom: 15%;
    border: 2px solid gray;
    border-bottom: 30px solid gray;
}

.closeUploader {
    position: absolute;
    top: 2%;
    right: 2%;
    font-weight: bold;
    background-color: gray;
}

.chooseFileBtn {
    position: absolute;
    left: 40%;
    bottom: 13%;
}

.submitImageBtn {
    position: absolute;
    left: 30%;
    bottom: 5%;
}

.deleteImageBtn {
    position: absolute;
    left: 60%;
    bottom: 5%;
}

.small {
    border-radius: 50%;
}

header {
    background-color: black;
    color: white;
    height: 15vh;
    width: 100vw;
    padding: 5px;
    align-content: center;
    border-bottom: 4px solid rgba(250, 250, 250, 0.2);
}

header img {
    border-radius: 50%;
    position: absolute;
    height: 75px;

    top: 15px;
    left: 25px;
}

header button {
    position: absolute;

    top: 45px;
    right: 3vw;
}

.darknet {
    position: absolute;
    font-size: 52px;
    left: 30%;
    top: -2%;
}

.darknet:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(150deg);
    line-height: 0.9em;
    background: radial-gradient(white, transparent 80%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    color: rgba(10, 10, 10, 0.9);
}

.profile {
    border-bottom: 2px black solid;
}

.profilePictureElem {
    float: left;
    height: 80vh;
    width: 15vw;
    background: rgba(250, 250, 250, 0.2);
    border-right: 4px solid rgba(250, 250, 250, 0.2);
}

.profilePictureElem img {
    position: relative;
    height: 10vw;
    width: 10vw;
    top: 30px;
    border-right: 5px black solid;
    border-left: 5px black solid;
}
.profilePictureElem label {
    position: relative;

    top: 40px;
    font-weight: bold;
}

.profilePictureElem h1 {
    position: relative;
    padding: 5px;
    width: 10vw;
    left: 1.5vw;
    top: 2%;
    font-weight: bold;
}

.profilePictureElem h2 {
    position: relative;
    padding: 10px;
    background-color: lightgray;
    width: 10vw;
    left: 1.5vw;
    bottom: -10%;
    font-weight: bold;
    border: 2px solid gray;
}

.ownProfilePic {
    position: absolute;
    height: 50vh;
    width: 40%;
    left: 55vw;
    bottom: 25%;
    background: rgba(250, 250, 250, 0.2);
    border: 6px solid rgba(250, 250, 250, 0.2);
}

.ownProfilePic img {
    height: 50vh;
    max-width: 40vw;

    bottom: 25%;
}

.ownProfileBio {
    position: absolute;
    left: 20%;
    bottom: 25%;
    width: 25%;
    text-align: left;
    background: rgba(250, 250, 250, 0.2);
    padding: 2.5%;
    border: 4px solid rgba(250, 250, 250, 0.2);
}
.pleaseEdit {
    position: relative;
    top: 0%;
    left: 5%;
    color: blue;
    z-index: 4;
    opacity: 0.4;
}
.ownProfileBio textarea {
    position: absolute;
    left: -7.5%;
    bottom: -3%;
    width: 33vw;
    height: 25vh;

    padding: 2%;
    border: 2px solid gray;
}

.submitBioBtn {
    position: absolute;
    width: 100px;
    bottom: -6vh;
    left: 25%;
}
.cancelSubmitBioBtn {
    position: absolute;
    width: 100px;
    bottom: -6vh;
    left: 60%;
}

.changeBioBtn {
    position: absolute;
    bottom: -6vh;
    left: 35%;
}

.newProfilePicBtn {
    position: absolute;
    bottom: -6vh;
    left: 35%;
}

.otherProfile {
    height: 75vh;
}

.otherProfilePic {
    position: absolute;
    height: 50vh;
    width: 40%;
    left: 55vw;
    bottom: 25%;
    background: rgba(250, 250, 250, 0.2);
    border: 6px solid rgba(250, 250, 250, 0.2);
}

.otherProfile img {
    /* position: absolute; */
    height: 50vh;
    max-width: 40vw;
    /* left: 55vw; */
    bottom: 25%;
    /* border: 6px solid rgba(250, 250, 250, 0.2); */
}

.otherProfileHeader {
    position: absolute;
    left: 20%;
    top: 30%;
}

.otherProfileBio {
    position: absolute;
    left: 20%;
    bottom: 25%;
    width: 25%;
    text-align: left;
    background: rgba(250, 250, 250, 0.2);
    padding: 2.5%;
    border: 4px solid rgba(250, 250, 250, 0.2);
}

.otherProfile .friendButton {
    position: absolute;
    left: 50%;
    bottom: 10%;
}

footer {
    height: 5vh;
    width: 100vw;
    background-color: black;
    color: white;
    position: absolute;
    top: 95vh;
    border-top: 4px solid rgba(250, 250, 250, 0.2);
}

.recentlyJoined {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    border-bottom: 4px solid rgba(250, 250, 250, 0.2);
}

.findpeople {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.backBtn {
    position: absolute;
    width: 70px;
    bottom: 3vh;
    right: 3vw;
    z-index: 4;
}

.friends1 {
    /* margin-top: 1vh; */
    margin-bottom: 3vh;
}

.friends2 {
    display: flex;
    height: 25.5vh;
    flex-direction: row;

    border-radius: 2px solid gray;
    overflow: auto;
    /* flex-wrap: wrap; */
}

.friendStatus {
    position: relative;
    width: 150px;
    /* left: 20%; */
    background-color: gray;
    border-right: 4px solid white;
    border-left: 4px solid white;
    opacity: 0.5;
}

.friends3 {
    display: flex;
    height: 24.5vh;
    width: 75vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    align-content: center;
    border-radius: 2px solid gray;

    overflow: auto;
}

.friends2:nth-of-type(2) {
    border-top: 4px solid rgba(250, 250, 250, 0.3);
    border-bottom: 4px solid rgba(250, 250, 250, 0.3);
}

.friends {
    height: 180px;
    width: 150px;
    padding-left: 30px;
}

.friends img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: 15px;
}

.friends button {
    font-size: xx-small;
}

.acceptBtn,
.rejectBtn {
    border-radius: 50%;
    position: relative;
    top: 1px;
    background-color: rgba(250, 250, 250, 0.2);
}

.emoji {
    font-size: 14px;
    opacity: 1;
}

.acceptBtn {
    left: -35px;
}

.rejectBtn {
    left: 35px;
}

.nameTag {
    position: relative;
    top: 10px;
    font-size: 18px;
}

.nofriends {
    margin-top: 15vh;
}
