body {
    background-color: ghostwhite;
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
}

.welcome {
    position: relative;
    margin-top: 10vh;
    font-size: 48px;
}

.registrationTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 50vh;
}

.inputFields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 15px;
}

button {
    padding: 5px;
    background-color: lightgray;
}
.error {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

img {
    height: 150px;
}

.uploaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.8;
}

.uploader {
    position: absolute;
    top: 25vh;
    left: 25vw;
    height: 50vh;
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closeUploader {
    position: absolute;
    top: 2%;
    right: 2%;
    font-weight: bold;
    background-color: red;
}

.small {
    border-radius: 50%;
}

header {
    background-color: black;
    color: white;
    height: 15vh;
    width: 100vw;
    padding: 5px;
    align-content: center;
}

header img {
    border-radius: 50%;
    position: absolute;
    height: 75px;

    top: 15px;
    left: 25px;
}

header button {
    position: absolute;

    top: 45px;
    right: 3vw;
}

header h1 {
    font-size: 48px;
}

.profilePictureElem {
    float: left;
    height: 80vh;
    width: 15vw;
    background-color: gray;
    border-right: 2px black solid;
}

.profilePictureElem img {
    position: relative;
    height: 10vw;
    width: 10vw;
    top: 30px;
    border-right: 5px black solid;
    border-left: 5px black solid;
}
.profilePictureElem label {
    position: relative;

    top: 40px;
    font-weight: bold;
}

footer {
    height: 5vh;
    width: 100vw;
    background-color: black;
    color: white;
    position: absolute;
    top: 95vh;
}

.recentlyJoined {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.findpeople {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.backBtn {
    position: absolute;
    width: 70px;
    bottom: 3vh;
    right: 3vw;
    z-index: 4;
}
